@model List<TodoApp.Models.Todo>


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Todo App</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/assets/style.css" rel="stylesheet"/>
</head>
<body>
<div class="header">
    <h1>Todo Application v4882</h1>
</div>
<div class="row navigation">
    <div class="col-md-8"></div>
    <div class="col-md-4">
        <nav>
            <a href="/add" class="btn btn-warning">New Todo</a>
        </nav>
    </div>
</div>
<div class="row todo-container">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>id</th>
                <th>title</th>
                <th class="centered">urgent</th>
                <th class="centered">done</th>
                <th class="centered">creation date</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var todo in Model)
            {
                <tr>
                    <td>@todo.Id</td>
                    <td>@todo.Title</td>
                    <td class="centered-char">@(todo.Urgent ? '⚠' : ' ')</td>
                    <td class="centered-char">@(todo.Done ? '✔' : '✖')</td>
                    <td class="centered">@todo.GetFormattedCreationDate()</td>
                    <td><a class="btn btn-danger centered" href="/delete/@todo.Id">delete</a></td>
                    <td><a class="btn btn-primary centered" href="/edit/@todo.Id">edit</a></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>